process {
    // Set a common base container for all processes
    container = 'ubuntu:22.04'

    withName: 'plot' {
        conda = 'conda-forge::r-base conda-forge::procps-ng'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}


conda {
    enabled = true
    channels = ['conda-forge', 'bioconda', 'defaults']
    cacheDir = '/tmp/conda-cache'  // or any local POSIX path
}

