process {
    // Default container with all basic utilities
    container = 'ubuntu:22.04'
    beforeScript = 'apt-get update && apt-get install -y procps' // to have ps

    // Specialized containers for specific tools
    withName: 'get_frames' {
        container = 'olmesm/mplayer-docker'  // Use base container
        beforeScript = 'apt-get update && apt-get install -y procps' // to have ps
    }

    withName: 'movement_spotter' {
        container = 'vulhub/imagemagick:7.0.10-36-php'  // Use base container
        beforeScript = 'apt-get update && apt-get install -y procps' // to have ps
    }

    withName: 'plot' {
        container = 'rocker/r-base:4.3.0'
        beforeScript = 'apt-get update && apt-get install -y procps' // to have ps
    }
}


docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

